<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="application-name" content="ウサミン星" />
<meta name="keywords" content="ウサミン, 安部菜々, アイドルマスター, デレマス" />
<meta name="description" content="ウサミン星へようこそ！ここはナナが運営するデレマス関連サイトですよ！(非公式なんですけどね……)    でも！きっと楽しんでいってくれるはずですよ♪ ｷｬﾊｯ！" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<meta name="author" content="Abe Nana" />
<meta name="theme-color" content="#f08080" />
<meta property="og:url" content="https://www.usamin.site" />
<meta property="og:image" content="https://www.usamin.site/assets/images/ogp.jpg" />
<meta property="og:type" content="website" />
<meta property="og:title" content="ウサミン星" />
<meta property="og:site_name" content="www.usamin.site" />
<meta property="og:description" content="「ナナ、電波がビビッと来ました！」" />
<meta property="og:locale" content="ja_JP" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="ウサミン星" />
<meta name="twitter:description" content="「ナナ、電波がビビッと来ました！」" />
<meta name="twitter:image" content="https://www.usamin.site/assets/images/ogp.jpg" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png" sizes="180x180" />
<link rel="mask-icon" href="/mask-icon.svg" color="#c30234" />
<link rel="manifest" href="/assets/manifest.json" />
<!-- <link rel="preload" as="style" href="//use.fontawesome.com/releases/v5.4.2/css/all.css" onload="this.rel='stylesheet'" /> -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" defer></script>
<script src="/assets/js/bootstrap.min.js" defer></script>
<script src="/assets/js/analytics.js" defer></script>