<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-navbar border-bottom border-navbar shadow">
	<a class="navbar-brand text-white" href="https://www.usamin.site">
		<img alt="安部菜々" src="/apple-touch-icon.png" width="30" height="30">
		ウサミン星
	</a>
	<button type="button" class="navbar-toggler border-warning" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="Navber">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="/">ホーム</a>
			</li>
			<li class="nav-item">
				<a class="nav-link disabled" href="#">このサイトについて</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="/contact/">お問い合わせ</a>
			</li>
		</ul>
	</div>
</nav>